<div class="logo-box">
    <!-- Brand Logo Light -->
    <a href="index.html" class="logo-light">
        <h2><span class="badge badge-soft-success">Портал ЦРК</span></h2>
        <!-- <img src="/static/dashtrap/assets/images/logo-light.png" alt="logo" class="logo-lg" height="28">
        <img src="/static/dashtrap/assets/images/logo-sm.png" alt="small logo" class="logo-sm" height="28"> -->
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo-dark">
        <h2><span class="badge badge-soft-success">Портал ЦРК</span></h2>
        <!-- <img src="/static/dashtrap/assets/images/logo-dark.png" alt="dark logo" class="logo-lg" height="28">
        <img src="/static/dashtrap/assets/images/logo-sm.png" alt="small logo" class="logo-sm" height="28"> -->
    </a>
</div>