<li class="dropdown">
    <a class="nav-link dropdown-toggle waves-effect waves-light arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <i class="mdi mdi-magnify font-size-24"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-animated dropdown-menu-end dropdown-lg p-0">
        <form class="p-3" id="main_search_form">
            <input type="search" name="subscriber_number" class="form-control" placeholder="Поиск по номеру ..." aria-label="Recipient's username">
        </form>
    </div>
</li>